.navbar {
    background: #EBE0E9;
    border-radius: 5px;
    display: flex;
    height: 60px;
    margin-left: auto;
    width: 100%;
    }

.logo {
    border: 1px solid black;
    border-radius: 5px 0 5px;
    display: inline;
    font-weight: bold;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }

.item:nth-of-type(1) {
    margin-left: auto;
    }

.item:nth-last-of-type(1) {
    margin-right: auto;
    }

.item {
    align-items: center;
    background: #EBE0E9;
    color: #2D2E46;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    }

.item.active {
    background: #DCCCDB;
    position: relative;
    text-align: center;
    }

.item.active::after {
    background: #21268F;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    }

@media (max-width: 1004px) {
    .logo {
        font-size: 20px;
        }

    .item {
        font-size: 14px;
        padding: 10px;
        }
    }

@media (max-width: 800px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        }

    .logo {
        font-size: 20px;
        }

    .mobileLinksOpen {
        backdrop-filter: blur(5px);
        background-color: rgba(45, 46, 70, 0.84);
        left: 0;
        padding: 10px 0 10px 45px;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 99;
        }

    .mobileLinksClosed {
        display: none;
        }

    .item {
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        color: #b3abe7;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        padding: 5px 5px 5px;
        }

    .item:hover {
        text-decoration: underline;
        }

    .item.active {
        background-color: rgba(255, 255, 255, 0);
        font-weight: bold;
        }

    .item.active::after {
        background: #b3abe7;
        content: '';
        height: 100%;
        left: -3px;
        position: absolute;
        top: 0;
        width: 3px;
        }
    }

.headerIcon {
    height: 100%;
    width: 36px;
    }

.logOutButton {
    align-items: center;
    display: flex;
    margin: 15px 15px;
    padding: 5px 10px;
    }
