.slider {
    position: relative;
    width: 200px;
    height: 7px;
}

.sliderTrack,
.sliderRange,
.sliderLeftValue,
.sliderRightValue {
    position: absolute;
}

.sliderTrack,
.sliderRange {
    border-radius: 5px;
    height: 10px;
}

.sliderTrack {
    background-color: #dadada;
    width: 100%;
    z-index: 1;
}

.sliderRange {
    background-color: #538cec;
    z-index: 2;
}

.sliderLeftValue,
.sliderRightValue {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.sliderLeftValue {
    left: 6px;
}

.sliderRightValue {
    right: -4px;
}

.range {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
}

.rangeLeft {
    z-index: 3;
}

.rangeRight {
    z-index: 4;
}

/* Removing the default appearance */
.range,
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

/* For Chrome browsers */
.range::-webkit-slider-thumb {
    background-color: #e5199a;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.range::-moz-range-thumb {
    background-color: #b425b4;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

@-moz-document url-prefix() {
    .container {
        display: flex;
        align-items: center;
    }
    .slider {
        height: 10px;
    }
}
