.mainBlock {
    display: flex;
    align-items: center;
    margin: 7px;
}

.page {
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.selectPage {
    background-color: #0241b7;
    color: white;
    border-radius: 32px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}
