.paginationContainer {
    display: flex;
    margin: auto;
}

.paginationContainer ul {
    list-style-type: none;
}

.paginationBlock {
    display: flex;
    align-items: center;
}

.paginationItem {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 32px;
    margin: auto 4px;
    text-align: center;
    border-radius: 16px;
    min-width: 32px;
}
.dots:hover {
    background-color: transparent;
    cursor: default;
}
.paginationItem:hover {
    background-color: rgb(183, 185, 234);
    cursor: pointer;
}
.selected {
    background-color: #0241b7;
    color: white;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}

.arrow::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.left {
    transform: rotate(-135deg) translate(-50%);
}
.right {
    transform: rotate(45deg);
}
.disabled {
    display: none;
}
.arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.disabled:hover {
    background-color: transparent;
    cursor: default;
}
