* {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    }

header, main, footer, article, aside, hgroup, menu, nav, section, details, figcaption, figure {
    display: block;
    }

.App {
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    height: 100vh;
    padding: 5px 10px;
    }

h1 {
    color: #2D2E46;
    /*font-family: 'Poppins';*/
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    }

h2 {
    color: #2D2E46;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin: 32px 0;
    }

.wrapper {
    background: #FEFEFF;
    border-radius: 8px;
    margin: 136px auto;
    }

.smallContainer {
    background: #F9F9FE;
    border-radius: 8px;
    left: 50%;
    margin-top: 20vh;
    padding: 25px 33px 35px;
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    width: 413px;
    }
