.default {
  margin: 5px 10px;
  padding: 5px 15px;
  background: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.default:hover {
  background: darkorange;
}

.default:disabled {
  background: lightgray;
  cursor: auto;
}

.red {
  background: red;
  color: white;
}

.red:hover {
  background: firebrick;
}
